/* ###################################################
	______ __                                       
	|  ____/ /                                       
	| |__ / /_  ___ _ __  _   _   ___ ___  _ __ ___  
	|  __| '_ \/ __| '_ \| | | | / __/ _ \| '_ ` _ \ 
	| |  | (_) \__ \ | | | |_| || (_| (_) | | | | | |
	|_|   \___/|___/_| |_|\__, (X)___\___/|_| |_| |_|
						   __/ |                     
						  |___/                
	This is F6sny.com's CSS file, feel free to copy anything you like.
	PS. most of the features here are abstracted from twitter bootstrap, you should check it out!
	~! Mohannad.
##################################################### */


/* Boot strap hacking:
	-Page Headers
	-Tables
	-Forms
	-Pulls
	-Alerts
	-Modals
	-Spans
	-Popovers and tooltips
	-Navigation
	-Pagination */
/* $Hackstrap.css */
/* Media */

.media-list {
    list-style: none outside none;
    margin-right: 0;
	margin-left:auto;
}


/* Page Headers */
.page-header {
	margin:0;
	padding-bottom:6px;
}
.page-header h1 {
    font-size:20px;
	line-height:1;
	margin:3px 0;
}
.page-header h1 small {
	font-size:16px;
}
.page-header ul{
	font-family:tahoma;
	font-size:11px;
}



/* Tables */
.table {
	font-family:tahoma;
	font-size:12px;
}
.table th {
	font-family:arial;
	font-weight:bold;
	font-size:16px;
}



/* Forms */
.form-actions{
	background-color: #FBFBFB;
	margin-bottom:0px;
}
.form-horizontal .control-label {
    font-family:tahoma;
}
.btn{
	border-radius: 0 0 0 0;
}




/* Pulls */
.pull-left {
    float: left !important;
	margin:0px;
}




/* Alerts */
.alert {
    font-family:tahoma;
}
.alert strong{
    font-family:arial;
	font-size:16px;
	margin-left:12px;
}



/* Modals */
.modal {
    border: none;
    border-radius: 0px;
}
.modal-body {
	line-height:auto;
	overflow:hidden;
}
.modal-footer{
	border-radius: 0px;
}



/* Spans */
.row-fluid > [class*="span"]{
	margin-right:2.5641%;
	margin-left:auto;
	float:right;
}
.row-fluid > [class*="span"]:first-child{
	margin-right:0px;
	margin-left:auto;
}
.row-fluid [class*="span"]{
	margin-left:0px;
}



/* Popovers and tooltips */
.popover.top .arrow:after {
    margin-right: -10px;
	margin-left:auto;
}
.popover {
	font-family:tahoma;
	text-align:right;
	background-color:#ffe850;
}
.popover-title {
	font-weight:bold;
	font-size:16px;
	background-color:#f4c300;
	color:#ffffff;
	border-bottom-color:#e5b700;
}
.tooltip {
	font-family:tahoma;
	font-size:13px;
}



/* Navigation */
.nav {
	margin-bottom:0px;
	margin-right:12px;
}
.nav-pills > li > a{
	margin-right:0px;
	margin-bottom:0px;
	border-radius: 0px;
	margin-top:0px;
}
.nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
    background-color: #ccf381;
	color:#333333;
}
.nav-pills .dropdown-menu {
    border-radius: 0px;
	margin-top:0px;
	border-width:0px;
	font-family:tahoma;
	background:#ccf381;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}
.nav-pills .dropdown-menu  > li:not(:last-child){
	border-bottom: 1px dotted #ffffff;
}
.nav-tabs{
	margin-right:0px;
}
.tab-content .tab-pane {
	padding:12px;
}
.nav-pills > li.gotJoke > a:hover{
	background-color:transparent;
}
.nav > li > a {
	font-family:tahoma;
}
.nav-tabs > li, .nav-pills > li{
	float:right;
}



/* Pagination */
.pagination {
	border-top: 5px solid #acd9f8;
	padding: 12px 0;
	font-family:tahoma;
}
.pagination a{
	border:none;
}
.pagination a:hover{
	background-color: #afdeff;
}
 .pagination .active a {
    background-color: #41B7D8;
	border-radius: 3px;
	color:white;
}
.pagination ul {
    box-shadow: none;
}
.pagination ul > li{
	float:right;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
	border-width: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius: 0;
}




/* Main
	-General Use
	-Required fields
	-Users related
	-Main Elements
	-Top Bar
	-Header
	-Announcements
	-Main Section (page)
	-Footer
	-Reports Modal */
/* $Main.css */
/* General Use */
span.label > a{
	font-family:tahoma;
	color:white;
	font-weight:normal;
	text-decoration:none;
}
.add_shadow{
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
::selection {
background: #E7674A;
color: white;
text-shadow: none;
}
.padder12{
	padding:12px;
	clear:both;
	overflow:hidden;
}
.padder6{
	padding:6px;
	clear:both;
	overflow:hidden;
}
.center{
	text-align:center;
}
.clear{
	clear:both;
	overflow:hidden;
}
.last_reply , .last_jokes{
	font-family:tahoma;
}
.bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button {
	font-family:tahoma;
}

/* Required fields */
form .highlight input, form .highlight select, form .highlight textarea {
	background-color: #FFC;
}
form .required  ,form .required label{
    font-weight: bold;
}
form .required label:before {
    color: #e32;
    content: '* ';
    display:inline;
}




/* Users related */
ul.userinfo {
	padding-top:12px;
}
ul.userinfo li {
	font-family:tahoma;
	font-size:13px;
	padding:6px;
}
ul.userinfo li strong {
	width:100px;
	text-align:left;
	margin-left:12px;
	display:inline-block;
	font-size:16px;
	font-family:arial;
}
.login{
	position:static;
	top:0px;
	left:0px;
}
.userNameField{
	position:absolute;
	right:-1900px;
}
#Form2 ,#Submit2{
	display:none;
}
.modal-body .information{
	border-right:1px dotted #fffad0;
	padding:12px;
}
.information strong {
	font-size:16px;
	font-weight:bold;
}




/* Main Elements */
body {
	font-size:13px;
	background:#3C8FC9 url('../img/F6snybackground.jpg') repeat fixed left top;
}
section {
	padding:12px;
	background:#ffffff;
}
p {
    font-family: "Tahoma","Arial","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 9px;
}
hr{
	clear:both;
}
h1, h2, h3, h4, h5, h6{
	font-family:arial;
}
form  {
	margin:0px;
}
form input[type="text"]{
	font-family:tahoma;
	font-size:11px;
}




/* Top Bar */
.rainbow {
	display:block;
	height:5px;
	background-color:orange;
	background: url("../img/rainbow.png") repeat-x scroll -500% 0 white;
}
#topBar {
	border-bottom:1px dotted #007dcd;	
	font-family:tahoma;
	margin-bottom:12px;
}
#topBar #login_span a {
	min-height:25px;
	line-height:25px;
}
#topBar h3 {
	font-family:arial;
}
#topBar span#login_span  {
	margin-left:24px;
	display:block;
	padding:8px;
	line-height: 10px;
}




/* Header */
header.row-fluid > [class*="span"] {
	margin-right:0px;
	margin-left:auto;
}
header{
	background:rgba(255,255,255,0.7);
	margin-bottom:12px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	border-bottom-right-radius: 30px;
}
header #topBar > span > a {
	line-height:auto;
	text-shadow:  1px 1px 1px #cccccc;
}
header #topBar > span > a:hover {
	text-decoration:none;
}
header #titleBar {
	overflow:hidden;
}
header  #headerBanner {
	text-align:left;
	background:#ffffff;
	background:rgba(0, 0, 0, 0.5);
}
header #header-content {
	padding:12px;
}
header .padder12 {
	padding-top:0px;
	padding-bottom:0px;
}
header .alert {
	margin-top:6px;
	margin-bottom:6px;
}
header #titleBar h1{
	margin-top:20px;
	font-size:400%;
	line-height:100%;
	float:right;
}
header #titleBar h1 small {
	font-family:arial;
	font-weight:bold;
	font-size:16px;
	line-height:100%;
}




/* Announcements */
#annoucements{
	background-color:#f12a2c;
	padding:0px 8px 8px 8px;
	font-family:arial;
	font-weight:bold;
	font-size:18px;
	margin:0px 0px;
	border-top:2px solid white;
}
#annoucements .ajel {
	color:#f12a2c;
	font-size:20px;
	background-color:white;
	float:right;
	margin-left:12px;
	padding:6px;
}
#annoucements .newsfeed {
	padding:6px;
	float:right;
	position: relative; 
	width: 240px; 
}
#annoucements a{
	color:white;
	margin-left:12px;
	padding-left:12px;
	position: absolute; 
	top: 6px; 
	left: 6px; 
	right: 6px; 
	bottom: 6px; 
}




/* Main Section (page) */
.main {
	background:rgba(255,255,255,0.55);
	padding:0px 12px 12px;
}
.main .padder12 {
	padding-top:0px;
}




/* Footer */
#statistics {
	margin:12px 0px;
}
#statistics .page-header {
	margin-bottom:12px;
}
#statistics  .statistic{
	padding:6px;
	font-family:tahoma;
	border-left:1px dashed #eeeeee;
}
#statistics  .statistic:last-child{
	border-left:none;
}
#statistics  .statistic p {
	color:#3C8FC9;
	font-weight:bold;
	font-size:130%;
	margin-bottom:0px;
}
#statistics .statisticsBox {
	background:white;
	padding:6px;
}
footer{
	background: url('../img/footer_bg.gif') repeat;
	color: #8C8989;
	margin-top:0px;
}
footer .padder12{
	padding-top:12px;
	background-color: rgba(255,255,255,0.05);
}
footer [class*="span"]{
	margin-left: 10px;
}
footer p{
	padding:0px;
	margin:0px;
}
footer a{
	color:#C9C9C9;
}
footer a:hover{
	color:#bbbbbb;
	text-decoration:none;
}
footer #copyrights{
	border-top:1px dotted #555555;
	padding:6px;
	font-family:tahoma;
	background-color:rgba(255,255,255,0.01);
}
footer ul{
	font-family:tahoma;
	font-size:12px;
}
footer ul:first-child{
	margin-right:0px;
}
footer ul li:first-child{
	color:#DDDDDD;
	font-family:tahoma;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px dotted #555555;
	margin-bottom:12px;
	padding-bottom:6px;
}
.discmicler {
	margin-bottom:12px;
}
.discmicler p{
	font-weight:bold;
	font-family:Arial;
	font-size:16px;
}




/* Reports Modal */
#report {
	background:#e2582e;
	color:white;
}
#report p {
	font-size:13px;
}
#report .modal-header{
	border-bottom:none;
}
#report .modal-footer{
	background:none;
	color:white;
	border-top:none;
	box-shadow:none;
}






/* Navigations:
	-Sidebar
	-Top Navigation */
/* $Navigation.css */
/* Sidebar */
#sidebar {
	margin-right:0px;
}
.widget{
	margin-bottom:20px;
}
.widget:last-child{
	margin:0px;
}
.sidebar-nav{
	font-family:tahoma;
}
.sidebar-nav h3{
	font-family:arial;
	margin:12px auto 6px;
	padding-bottom:6px;
	font-size:18px;
	border-bottom:1px dotted #aaaaaa;
}
.sidebar-nav h3:first-child{
	margin-top:0px;
}
.google {
	background:rgba(255,255,255,0.55);
	padding:12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.google ins {
	display:block !important;
	margin:0 auto !important;
}




/* Top Navigation */
#navigation{
	float:right;
}
#navigation li {
	border-left:1px dotted #cccccc;
	padding:2px;
}
#navigation li:hover{
	background-color:#ccf381;
}
#navigation >ul  > li > a {
	min-height:25px;
	line-height:25px;
}
#navigation .nav > li > a:hover, #navigation .nav > li > a:focus{
	background:none;
}
#navigation .gotJoke {
	min-width:91px;
	background: transparent url('../images/gotJoke.png') no-repeat center center !important;
}
#navigation .gotJoke:hover{
	background: #00eaff url('../images/gotJoke.png') no-repeat center center !important;
}
#navigation .gotJoke .addJoke{
	position: relative;
	top: -150px;
}
#filter_popup {
	background:#ffffff;
}
#filter_popup p {
	font-size:13px;
}
#filter_popup .modal-header{
	border-bottom:none;
}
#filter_popup .modal-footer{
	background:none;
	color:white;
	border-top:none;
	box-shadow:none;
}
.navbar-search{
	line-height:40px;
	margin-left:12px;
}







/* Posts (jokes)
	-Show Hide Comments
	-Joke Add
	-Article Show (joke)
	-Meta
	-Comments show
	-Tags */
/* $Jokes.css */
/* Show Hide Comments */
.show-hide-comments{
	font-weight:bold;
	font-size:16px;
}

/* Joke Add */
#addJoke{
	background:#ffdf49;
}
#addJoke p{
	font-size:13px;
}
#addJoke h2{
	font-family:arial;
	font-size:22px;
	line-height:22px;
}
#addJoke span.help-block{
	margin-left:0;
	padding:6px;
	font-size:12px;
	line-height:12px;
}
#addJoke .modal-header{
	border-bottom:none;
}
#addJoke .modal-body{
	border-bottom:none;
	padding-top:0px;
}
#addJoke .modal-footer{
	background:none;
	color:white;
	border-top:none;
	box-shadow:none;
	margin:0px;
	padding-top:0px;
}
#joke_area {
	font-family:tahoma;
	font-size:13px;
}
#authorWillBe {
	font-family:tahoma;
	font-size:13px;
}




/* Article Show (joke) */
article {
	border-bottom: 1px solid #98e6ff;
	line-height: normal;
	margin: 0px;
	padding: 12px 0 12px;
	background:transparent;
}
article:hover {
	background:#EFFF94;
}
article:last-child {
	border-bottom: 50px solid #98e6ff;
	border-bottom: none;
}
article .thumbnails img.rows{
	max-height:50px;	
}
article .head {
	border-bottom:1px solid #e6e6e6;
}
article .more-button{
	padding:6px;
	background:#41B7D8;
	display:block;
	float:right;
	overflow:hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: white;
	border: 1px solid rgba(0, 0, 0, .1);
	margin:12px 0;
	font-family:tahoma;
	font-size:12px;
}
article .more-button a{
	text-decoration:none;
}
article  .row-fluid > [class*="span"]
{
	margin-right:0px;
	min-height:10px;
}
article .joke_content {
	margin-bottom:12px;
}




/* Meta */
.meta{
	font-family:tahoma;
	font-size:11px;
	border-bottom:none;
	padding-bottom:6px;
}
.meta .meta-content{
	padding:0 0 0 0;
	overflow:hidden;
}
.meta > div:last-child {
	border-left: none;
}
.meta-content > div {
	margin-left:6px;
}
.admin-tools {
	text-align:left;
}
.admin-tools a{
	border-left:1px solid #C9C9C9;
	padding-left:6px;
	margin-left:6px;
	color:#C9C9C9;
}
.admin-tools a:hover{
	text-decoration:none;
	color:blue;
}
.admin-tools a:last-child{
	border-left:none;
	padding-left:0;
	margin-left:0;
}
.admin-tools ul li {
	color:#C9C9C9;
	line-height:16px;
	min-width:16px;
	height:16px;
	text-align:center;
	padding:0px;
	border-left: 1px solid #C9C9C9;
	margin-left: 6px;
    padding-left: 6px;
}
.admin-tools ul li:last-child {
    border-left: none;
	margin-left: 0px;
    padding-left: 0px;
}
.admin-tools ul li:hover {
	cursor: pointer;
}
li.upvote {
	color:green;
}
li.downvote {
	color:red;
}



/* Comments show */
.comments{
	font-family:tahoma;
	font-size:12px;
}
.comment-container {
	margin:2px 0;
	background:#fffae0;
	padding:3px;
}
.comment-load-more {
	background:#FFF1A8;
}
.comment-container:hover{
	background:#fff4c3;
}
.comment-container:first-child{
	margin-top:12px;
}
.comment-content{
	padding:3px;
}
.comments  .meta{
	padding:3px;
	margin:0px;
}
.comments .author{
	font-weight:bold;
}




/* Tags */
article .tags {
	padding-bottom:3px;
	overflow:hidden;
}
.tags li{
    display:block;
    float:right;
    padding:0px;
	margin:0 0 0 12px;
	border:none;
	line-height:11px;
}
.tags li a {
	font-size:11px;
	font-family:tahoma;
    font-weight:normal;
	text-decoration:none;
}
#Tagsaty .CheckTags{
	display:none;
}
#Tagsaty li {
	padding-right:0px;
	padding-left:0px;
}
#Tagsaty label {
	display:block;
	float:right;
	padding:0px 4px 4px;
	margin:0 0 3px 3px;
	background:#EEE;
	color:#666;
	text-transform:lowercase;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
	font:bold 11px tahoma;
}
#Tagsaty .checkbox {
	min-height:10px;
}
#Tagsaty .CheckTags:checked + label{
	background:#555;
	color:#fff;
	text-shadow:0.4px 0.4px 0.4px  #fff;
}
/* 7awa6a */ 
#Tagsaty #tags-8.CheckTags:checked + label {	background:#ff9600;	}
/* M7shsheen */ 
#Tagsaty #tags-13.CheckTags:checked + label {	background:#c56600;	}
/* // Mawagef */ 
#Tagsaty #tags-15 .CheckTags:checked + label {	background:#00a8ff;	}
/* // +18 */
#Tagsaty #tags-4.CheckTags:checked + label {	background:#f00101;	}
/* // Married */ 
#Tagsaty #tags-12.CheckTags:checked + label {	background:#3da803;	}
/* // 3rabjh */ 
#Tagsaty #tags-3.CheckTags:checked + label {	background:#0090ff;	}

/* 7awa6a */
article .tags li.tag-8 a{color:#ffbb5b;}
article .tags li.tag-8 a:hover{color:#ff9600;}
/* M7shsheen */
article .tags li.tag-13 a{color:#d28d44;}
article .tags li.tag-13 a:hover{color:#c56600;}
/* // Mawagef */
article .tags li.tag-15 a{color:#7bc9f1;}
article .tags li.tag-15 a:hover{color:#00a8ff;}
/* // +18 */
article .tags li.tag-4 a{color:#ff7474;}
article .tags li.tag-4 a:hover{color:#f00101;}
/* // Married */
article .tags li.tag-12 a{color:#50e200;}
article .tags li.tag-12 a:hover{color:#3da803;}